<h1>Editing quotecategory</h1>

<%= render "form", quotecategory: @quotecategory %>

<br>

<div>
  <%= link_to "Show this quotecategory", @quotecategory %> |
  <%= link_to "Back to quotecategories", quotecategories_path %>
</div>
